.custom_btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #f700ff;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin: 10px auto 0 auto;
  z-index: 10;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}
.custom_btn:hover {
  background-color: #b300a4;
  color: #dcdcdc;
  transform: scale(1.05);
}
.hero_equidad_container {
  height: 80vh;
  width: 100%;
  background-color: #000;
}
.hero_equidad_parallax {
  background-image: url('../../../../public/image/bandera-colombia-turismo.avif');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 990;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.hero_equidad_parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.equidad_text_general {
  background-image: url('../../../../public/svg/back.9.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.equidad_text_general ul li {
  list-style: disc;
  font-size: 1.2rem;
  color: #dcdcdc;
  margin-left: 17px;
}
.equidad_text {
  padding: 50px 10px 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.equidad_text h1,
.equidad_text h2 {
  color: #fff;
  padding-bottom: 10px;
  text-align: start;
}
.equidad_text h1 span,
.equidad_text h2 span {
  color: violet;
}
.equidad_text p {
  color: #dcdcdc;
  z-index: 10;
  font-size: 1.2rem;
}
@media (min-width: 365px) {
  .equidad_text {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 440px) {
  .equidad_text {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 840px) {
  .equidad_text {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (min-width: 940px) {
  .equidad_text {
    margin-left: 70px;
    margin-right: 70px;
  }
}
@media (min-width: 1040px) {
  .equidad_text {
    margin-left: 90px;
    margin-right: 90px;
  }
}
@media (min-width: 1140px) {
  .equidad_text {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (min-width: 1450px) {
  .equidad_text {
    width: 90%;
  }
}
@media (min-width:1500px) {
  .hero_equidad_container{
    height: 530px;
  }
}
@media (min-width: 1550px) {
  .equidad_text {
    width: 85%;
  }
}
@media (min-width: 1650px) {
  .equidad_text {
    width: 80%;
  }
}
@media (min-width: 1750px) {
  .equidad_text {
    width: 75%;
  }
}
@media (min-width: 1850px) {
  .equidad_text {
    width: 70%;
  }
}
@media (min-width: 1950px) {
  .equidad_text {
    width: 65%;
  }
}
@media (min-width: 2005px) {
  .equidad_text {
    width: 60%;
  }
}
@media (min-width: 2500px) {
  .equidad_text {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (min-width: 3005px) {
  .equidad_text {
    width: 50%;
  }
}
